* {
    box-sizing: border-box;
}

button,
textarea,
input {
    font-family: inherit;
    font-size: inherit;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 600px;
    width: 90%;
    max-width: 720px;
    min-width: 350px;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body>section {
    height: 20%;
    flex: 1;
    display: flex;
    padding: 10px;
}

body>section.double {
    flex: 2;
    height: 40%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    cursor: pointer;
    min-width: 100%;
    width: max-content;
}

ul li:hover {
    background-color: #94006c33;
}

ul li[selected] {
    background-color: #94006c;
    color: white
}

ul li[selected] a {
    color: #e1cc9f;
}

.display textarea {
    width: 100%;
    height: calc(100% - 5px);
    resize: none;
}

section>.display {
    flex: auto;
    width: calc(100% - 50px);
    margin-right: 10px;
    overflow: auto;
}

section>.action {
    width: 50px;
    padding: 0 5px;
}

.action button,
.action input {
    width: 40px;
    height: 30px;
    font-size: 18px;
    margin-bottom: 5px;
    padding: 1px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: auto;
}

.overlay::before {
    display: block;
    content: "";
    height: 10%;
}

.dialog {
    background-color: white;
    height: 400px;
    width: 90%;
    max-width: 720px;
    min-width: 350px;
    margin: auto;
    padding: 2em;
    position: relative;
}

.dialog .button-row {
    position: absolute;
    width: calc(100% - 2 * 2em);
    bottom: 2em;
    text-align: right;
}

.dialog .button-row button {
    padding: 0.5em 1em;
    margin-left: 1em;
}

.dialog textarea {
    width: 100%;
    height: calc(100% - 5em);
    resize: none;
}

.dialog .container {
    margin-bottom: 1em;
}

.dialog .text-input-label {
    display: block;
    margin-right: .5em;
    margin-bottom: .1em;
}

.dialog .column {
    width: 50%;
    display: inline-block;
    overflow: auto;
    vertical-align: top;
    max-height: calc(100% - 5em);
}

.error-message-popup {
    position: fixed;
    top: 30px;
    right: 50px;
    width: 200px;
    background-color: #e1cc9f;
    z-index: 2;
    border-radius: 5px;
    padding: 10px;
    font-style: italic;
}